from seminar import app

app.secret_key = 'somesecret'
app.config.update(
  DEBUG=True,
  YEAR=2012,
  SECRET="somesecret",
  SQLALCHEMY_DATABASE_URI='mysql://user:pass@localhost/db',
  ADMINPASS="adminpass",
  SMTPPASS="smtppass"
)
